[user]
	email = kotborealis@gmail.com
	name = kotborealis
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[commit]
	gpgsign = false
[alias]
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    gud = !git add . && git commit -m \"git gud\"
