[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-autoenv"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-autoenv
	url = https://github.com/Tarrasch/zsh-autoenv
[submodule "vim/.vim/plugged/goyo.vim"]
	path = vim/.vim/plugged/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "vim/.vim/plugged/rust.vim"]
	path = vim/.vim/plugged/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "zsh/.zsh/pure"]
	path = zsh/.zsh/pure
	url = https://github.com/sindresorhus/pure
