[Desktop Entry]
Name[en_US]=Telegram Desktop
Comment[en_US]=~/Telegram/Telegram
Exec=~/Telegram/Telegram
Icon=application-default-icon
X-GNOME-Autostart-enabled=true
Type=Application
